# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.mypy_cache/

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env
.env.*
!.env.example

# Node
node_modules/
dist/
build/
.vite/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python tools
.pyre/
.ruff_cache/

# Database
*.db
*.sqlite
*.sqlite3

# Uploads
uploads/